---
layout: default
---
{% include revizor.html %}
{% include lavita.html %}
{% include devi.html %}
{% include fakro.html %}

<div id="contact">
<div class="contact_info">
{% capture contact_info %}{% include_relative companyinfo/yual.md %}{% endcapture %}
{{ contact_info | markdownify }}
</div>
<script type="text/javascript" src="//vk.com/js/api/openapi.js?150"></script>

<!-- VK Widget -->
<div id="vk_groups"></div>
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 4, wide: 1, no_cover: 1, height: "400"}, 64250285);
</script>
</div>

<div class="map">
<!--yandex map here-->
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3AypsOUaPlYYoLhClbk5I6l6G7VWWtUcSm&amp;width=100%25&amp;height=350&amp;lang=ru_RU&amp;scroll=true"></script>
</div>