{% if page.collection %}
<div class="companyinfo" id="devi">
<div class="companyinfo-content">
<img src="../images/devi logo.png">
<div class="text">
{% include_relative devi.md %}
</div>
</div>
</div>
<div class="productsrow" id="devi">
{% for product in site.devi %}
  {% include product.html %}
{% endfor %}
</div>
{% else %}
<div class="productsrow" id="devi">
{% for product in site.devi %}
  {% include product.html %}
{% endfor %}
</div>
<div class="companyinfo" id="devi">
<div class="companyinfo-content">
<img src="../images/devi logo.png">
<div class="text">
{% include_relative _devi/devi.md %}
</div>
</div>
</div>
{% endif %}