{% if page.collection %}
<div class="companyinfo" id="lavita">
<div class="companyinfo-content">
<img src="../images/lavita logo.png">
<div class="text">
{% include_relative lavita.md %}
</div>
</div>
</div>
<div class="productsrow" id="lavita">
{% for product in site.lavita %}
  {% include product.html %}
{% endfor %}
</div>
{% else %}
<div class="productsrow" id="lavita">
{% for product in site.lavita %}
  {% include product.html %}
{% endfor %}
</div>
<div class="companyinfo" id="lavita">
<div class="companyinfo-content">
<img src="../images/lavita logo.png">
<div class="text">
{% include_relative _lavita/lavita.md %}
</div>
</div>
</div>
{% endif %}