{% for thisprod in site.data.pricelist %}
	{% if thisprod.name == include.name %}
		<tr>
			<td><b>Опции</b></td>
			<td><b>Цена, руб</b></td>
			{% if thisprod.aoptionname %}
			<td><b>{{ thisprod.aoptionname }}</b></td>
			{% endif %}
		</tr>
		{% for i in (1..2) %}
		{% if thisprod.option + {{i}} %}
		<tr>
			<td>{{ thisprod.option1 }}</td>
			<td>{{ thisprod.price1 }}</td>
			<td>{{ forloop.index }}</td>
			{% if thisprod.aoptio1 %}
			<td>{{ thisprod.aoption1 }}</td>
			{% endif %}
		</tr>
		{% endif %}
		{% endfor %}
	{% endif %}
{% endfor %}