<div class="product">

  <a class="product-img" href="{{ site.baseurl }}{{ product.url }}">
    <img src="{{ product.image }}" alt="{{ product.name }}" class="thumbnail"/>
  </a>
  <a class="product" href="{{ site.baseurl }}{{ product.url }}">{{ product.name }}</a>
<p class="text">{{ product.description }}</p>
<p class="price">
	{% for thisprod in site.data.pricelist %}
		{% if thisprod.name == product.name %}
			{% if thisprod.option1 %}
				от {{ thisprod.baseprice }} руб
			{% else %}
				{{ thisprod.baseprice }} руб
			{% endif %}
		{% endif %}
	{% endfor %}
</p>
</div>
