{% if page.collection %}
<div class="companyinfo" id="{{include.name}}">
<div class="companyinfo-content">
<img src="../images/{{include.name}} logo.png">
<div class="text">
{% include_relative {{include.name}}.md %}
</div>
</div>
</div>
<div class="productsrow" id="{{include.name}}">
{% for product in site.{{include.name}} %}
  {% include product.html %}
{% endfor %}
</div>
{% else %}
<div class="productsrow" id="{{include.name}}">
{% for product in site.{{include.name}} %}
  {% include product.html %}
{% endfor %}
</div>
<div class="companyinfo" id="{{include.name}}">
<div class="companyinfo-content">
<img src="../images/{{include.name}} logo.png">
<div class="text">
{% include_relative _{{include.name}}/{{include.name}}.md %}
</div>
</div>
</div>
{% endif %}