/**
 * Site header
 */
.site-header {
	width: 100%;
	background: black;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // Positioning context for the mobile navigation icon
    position: fixed;
	transform: translate3d(0, 0, 0,);
	z-index: 100;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    margin-bottom: 0;
    float: left;
	color: #eee !important; 
	@include media-query($on-palm) {
	  position: relative;
	  left: 50%;
	  transform: translate(-50%);
    }
}

.logo {
	float: left;
	padding-right: 15px;
	margin-top: 3px;
}

.site-nav {
    float: right;
    line-height: 56px;
	width: 50%;

    .page-link {
		display: inline-flex;
		width: 100%;
		justify-content: space-between;
        color: $text-color;
        line-height: $base-line-height;
		margin: 0px;
		
			li {
			display: block;
		
				a {
				color: #eee;
				&:hover{
					color: #bbb;
				}
				}
			}
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #222;
		height: 3000px;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

.menu-icon {
        display: none;
		@include media-query($on-palm) {
			display: block;
		    position: fixed;
			right: 0;
			top: 0;
			width: 30px;
			padding: $spacing-unit;
		}
}


.top-image {
	width: 100%;
    height: 550px;
	margin-bottom: $spacing-unit;
    background: black;
	background-image: url("../images/shadow.png"), url("../images/back.gif");
	background-repeat: repeat-x, repeat;
	background-position: 0 50px, bottom;
}


/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(15% - (#{$spacing-unit} / 2));
    width:         calc(15% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(65% - (#{$spacing-unit} / 2));
    width:         calc(65% - (#{$spacing-unit} / 2));
	text-align: justify;
}

@include media-query($on-palm) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

#vk_groups {
	margin-top: $spacing-unit;
}
	
.map {
	width: 100%;
    margin: $spacing-unit 0;
}

div#contact {
	display: flex;
	width: $content-width;
	margin: $spacing-unit 0;
	@include media-query($on-palm) {
	  width: 100%;
	  flex-direction: column;
      align-items: center;
	}
	.contact_info{
	margin-top: $spacing-unit;
	@include media-query($on-palm) {
	  margin-top: 0;
	  margin-left: $spacing-unit;
	}
	}
	p {
	margin: 0 $spacing-unit $spacing-unit 0;
	text-align: justify;
	font-size: 16px;
	}
	&:target {
    padding-top: 76px;
	margin-top: -76px+$spacing-unit;
	}
}

/**
 * Page content
 */

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-palm) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-palm) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-palm) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-palm) {
            font-size: 18px;
        }
    }
}
