---
layout: default
---
<div class="product-info">
<div class="product-title">
<h3>{{ page.name }}</h3>
<p class="text">{{ page.description }}</p>
</div>
<div class="product-details">
  <div class="product-description">
  <div class="product-img">
    {% if page.image2 %}
    <div class="product-img-small">
		<a href="{{ page.image2 }}" data-lightbox="{{ page.name }}" data-title="{{ page.description }}"><img src="{{ page.image2 }}" class="thumbnail_small"/></a>
	{% endif %}
	{% if page.image3 %}
		<a href="{{ page.image3 }}" data-lightbox="{{ page.name }}" data-title="{{ page.description }}"><img src="{{ page.image3 }}" class="thumbnail_small"/></a>
	{% endif %}
	{% if page.image2 %}
	</div>
	{% endif %}
	<a href="{{ page.image }}" data-lightbox="{{ page.name }}" data-title="{{ page.description }}"><img src="{{ page.image }}" class="thumbnail_big"/></a>
  </div>
  
	{% for thisprod in site.data.pricelist %}
		{% if thisprod.name == page.name %}
			{% unless thisprod.option1 %}
				<p class="price"><b>Цена:</b> {{ thisprod.baseprice }} руб</p></br>
			{% endunless %}
		{% endif %}
	{% endfor %}
  
      {{ page.content }}
  </div>
</div>

    {% include pricelist.html name=page.name %}

<p>Свяжитесь с нами для оформления заказа!</p>

</div>
{% include {{page.collection}}.html %}

<script src="../scripts/lightbox.min.js"></script>