---
layout: default
---
<div class="product-info">
<div class="product-title">
<h3>{{ page.name }}</h3>
<p class="text">{{ page.description }}</p>
</div>
<div class="product-details">
  <div class="product-img">
    {% if page.image2 %}
    <div class="product-img-small">
		<a href="{{ page.image }}" data-lightbox="{{ page.name }}"><img src="{{ page.image2 }}" alt="{{ page.name }}" class="thumbnail" style="width:100px"/></a>
	{% endif %}
	{% if page.image3 %}
		<a href="{{ page.image }}" data-lightbox="{{ page.name }}"><img src="{{ page.image3 }}" alt="{{ page.name }}" class="thumbnail" style="width:100px"/></a>
	{% endif %}
	{% if page.image2 %}
	</div>
	{% endif %}
	<a href="{{ page.image }}" data-lightbox="{{ page.name }}"><img src="{{ page.image }}" class="thumbnail" style="width:250px"/></a>
  </div>
  <div class="product-description">
    {% if page.price %}<p class="price"><b>Цена:</b> {{ page.price }} руб</p></br>{% endif %}
      {{ page.content }}
  </div>
</div>
{% if page.price == null %}<table class="product-pricelist">
    {% include pricelist.html name=page.name %}
</table>{% endif %}
</div>
{% include {{page.collection}}.html %}